body {
    font-family: 'Arial', sans-serif;
    /*background-image: url(/redes-neuronales.png);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: auto;
}
/* se agrego imagen*/
header {
    background: url('/img/prueba2.gif') no-repeat center center; 
    background-size: cover;
    height: 100vh;
}

h1, h2 {
    font-weight: bold;
}

ul.list-group li {
    font-size: 1.2rem;
}
.audiowide-regular {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .allerta-stencil-regular {
    font-family: "Allerta Stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
#titulo{
    color: rgb(42, 241, 52);
}
#parrafo{
    color: #407BFF;

  }

/*variable azul para probasr hit*/
:root {
    --azul: #407BFF; 
}


/* aca hay nose*/