body {
    font-family: 'Arial', sans-serif;
    background-image: url(/redes-neuronales.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: auto;
}
/* se agrego imagen*/
header {
    /*background: url('') no-repeat center center; COLOCAR UNA IMAGEN DE FONDO PARA EL TITULO*/
    background-size: cover;
}

h1, h2 {
    font-weight: bold;
}

ul.list-group li {
    font-size: 1.2rem;
}

/*variable azul para probasr hit*/
:root {
    --azul: #407BFF; 
}


/* aca hay nose*/