body {
    font-family: 'Arial', sans-serif;
    /*background-image: url(/redes-neuronales.png);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: auto;
}
/* se agrego imagen*/
header {
    background: url('/img/prueba2.gif') no-repeat center center; 
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1, h2 {
    font-weight: bold;
}

ul.list-group li {
    font-size: 1.2rem;
}
.audiowide-regular {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.allerta-stencil-regular {
    font-family: "Allerta Stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
#titulo{
    color: rgb(255, 255, 255);
    font-size: 4rem;
}
#parrafo{
    color: #ffffff;
    font-size: 1.5rem;

  }
@media (max-width: 768px) {
    #titulo {
        font-size: 2.5rem;
    }
    #parrafo {
        font-size: 1rem;
    }
}

/*Video Historia*/
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*variable azul para probasr hit*/
:root {
    --azul: #407BFF; 
}


/* aca hay nose*/